.servicios{
 
    display: flex;
    align-self: stretch;
    justify-content: space-around ;
    background-color: var(--miNegro);
    color: var(--miBlanco);
    
    
    
  }
    .servicios-caja{
      padding: 2rem;
      text-align: center;
      
    }
                                                                                                 
  
    .servicios-caja h4{
      padding: 0.5rem 0rem 2rem 0rem;
       }   
                                                                                            
        
       .servicios-caja p{
        font-size: 0.7rem;
  
         }  
    
  
  
  /* ===========  TRABAJOS ========== */    
  
    .trabajos{
      background-color: var(--miBlanco);
      align-self: stretch;
      padding-left: 5rem;
      
      
    }
  
      .trabajos-caja{
        padding: 3rem 3rem 3rem 0rem;
        color: var(--miNegro);
        
      }
      .trabajos-caja h1{
        padding-left:  1rem;
        border-left: solid var(--miVerde);
        font-weight: 100;
        font-size: xx-large;
        text-transform: uppercase;
        
      }
      .trabajos-caja p{
        padding: 1rem 1rem 0rem 0rem;
      }