.hero{
  
    display: flex;
    flex-direction: column;
    width: 85%; 
    height: 90%;
    background-image: url(../Header/hero.jpg);  
    background-size: cover; 
    background-position: center; 
    align-items: center;
    align-self: flex-end;
   
    
  }
  .menusuperior{
    display: flex;
    width: 90%;
    justify-content: space-between;
  
  }
  
  .hero-texto{
   text-align: center;
   color: var(--miBlanco);
  
  font-family: 'Roboto', sans-serif; 
  position: relative;
  bottom: -100px;
  
  }
  
    .hero-titulo{
    border: solid 3px var(--miVerde);
    text-transform: uppercase;
    font-size: 1.5rem;
    
     padding: 1.5rem 1rem;
     margin-bottom: 2rem;
   
  
    }
    
  /* -----------------LOGO NOMBRE --------------- */
  .logo{
     
      padding: 0.5rem 1rem;
      color: var(--miBlanco);
       text-transform: uppercase;
    font-size: 1.5rem;
      display: flex;
     
  }
  
  .logo span{
    font-size: 2.5rem;
    color: var(--miVerde);
  }
  
  .logo p{
    position: relative;
    bottom: -12px;
  }
  .guille{
    color: rgb(200, 200, 200);
  }
  .ojeda{
  
  }
  
    /* ---------------MENU HAMBURGUESA-------------------- */
    
  .hamburguesa{
      width: 30px;
      height: 40px;
      padding-top: 7px;
        margin: 10px;
      border: none;
      background: transparent;
      outline: none;
      cursor: pointer;
      }
    
   
      .hamburguesa hr{
        
          margin-bottom: 4px;
          border: 1.5px solid rgb(255,255,255);
          border-radius: 5%;
        
      }
  
    
    li:hover {
      background-color: var(--miNegro);
    }
  hr {
      margin-bottom: 4px;
      background-color: #fff;
      border: 1.5px solid #fff;
      border-radius: 1px;
    }
  nav {
     width: 100%;
      margin-left: 0;
      
    }
  .nav-lista {
      list-style: none;
      margin-left: none;
      padding: 10px 0;
      
      
    }
  a {
      text-decoration: none;
      color: var(--miBlanco);
      opacity: 0.9;
      padding: 1.5rem;
      
    }
   
  .desabilitado-hamb {
      display: none;
     
  
    }
  .habilitado-hamb {
      display: block;
    }
    
  
  ul{
    display: flex;
    justify-content: end;
    margin-top: 10px;
    margin-right: 10px;
  }
  