*{
  padding: 0;
 margin: 0; 
 box-sizing: border-box;

 font-family: 'IBM Plex Serif', serif;

  scroll-behavior: smooth;


}


:root {
 --miNegro: rgb(50,50,50);
 --miBlanco: rgb(255,255,255);
 --miVerde: rgb(126,198,123);

}

body{
display: flex; 
flex-direction: column; 
align-items: center;
 
}

.fondosupoerior{
 
  width: 100%;
  display: flex;
  justify-content: center;
  height: 100vh;
  background-image: url(assets/img/heroblur.jpg); 
  background-size: cover;
  background-color: rgb(117, 117, 117);
  
}

.fondoinferior{ 

  width: 100%;
  display: flex;
  justify-content: center;
}

.contenedor{

  width: 85%;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 50px 80px var(--miNegro);

  
 
}

/* -----------Primer responsive 480px---------- */

@media (max-width: 480px){

  .servicios{
 
    display: flex;
    flex-direction: column;
  
  }

  .sobremi-btn{
  
    padding: 0.5rem 1rem;
    width: 100px;
    margin-bottom: 2rem;
  }

  

  .redes{
    display: none;
    }

    #contact-form {
      display: flex;
     flex-direction: column;
      width: auto;
   
    
    }

    .trabajos{
     
      
      padding-left: 1rem;
      
      
    }

}


/* -----------Primer responsive 300px---------- */



@media (max-width: 300px){

  .contacto-datos p{
    display: none;
  }

  .contact-form form button {
  
      width: 100px;
      padding: 0.5rem 1rem;
    
  }

}


@media (max-width: 720px){

  .hamburguesa {
   display: none;
    
    
  }
  #estado-menu{
    display: none;
  }

}